a.btn {
    white-space: nowrap;
}

button.like {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font: inherit;
}

.wpcf7 .ajax-loader {
    display: none;
}
